.header{
    border-style:solid; 
    border-width: 0px 0px 0.5px 0px; 
    border-color: lightgray
}

.scroll-icon{
    height: 15px; 
    width: 15px; 
    float: right; 
    margin-right: 25%; 
    color: var(--ion-color-ba)
}