<ion-header no-border class="header">
    <ion-toolbar mode="md" style="padding-left:10px; padding-right: 10px">
      <ion-img style="width: 25px; height: 25px; float: left;" src="/assets/icon/ba_icon.png"></ion-img>
      <ion-title style="float: left;">Questionário</ion-title>    
      <ion-icon class="back-arrow" name="arrow-back" mode="ios" (click)="goBack()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="submit(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center>
            <div text-center>
                <h5 style="color:var(--ion-color-ba)">54ª Campanha de Recolha de Alimentos</h5>
            </div>

            <p padding>
                <ion-label>
                    Este questionário pretende fazer uma avaliação da forma como decorreu a Campanha no Armazém, no sentido de se proceder a eventuais futuras melhorias.
                </ion-label>
                <ion-label style="color:red">O Questionário é ANÓNIMO.</ion-label>
            </p>

            <div text-center>

                <ion-label style="color: var(--ion-color-ba)">
                    É a 1ª vez que participa como Voluntário numa campanha do Banco Alimentar - Lisboa?
                </ion-label>
                <p></p>
                <ion-radio-group name="first_time" class="inline-group" ngModel required>
                    <ion-item lines="none" float="left" class="left-radio">
                        <ion-label>Sim</ion-label>
                        <ion-radio mode="md" slot="end" value='true' checked></ion-radio>
                    </ion-item>
                    <ion-item lines="none" float="right" class="right-radio">
                        <ion-label>Não</ion-label>
                        <ion-radio mode="md" slot="end" value='false'></ion-radio>
                    </ion-item>
                </ion-radio-group>
                <p></p>
            
                <div *ngIf="form.form.value.first_time == 'true'">
                    <ion-label>Onde?</ion-label>
                    <p></p>
                    <ion-radio-group name="spot" class="inline-group" ngModel required>
                        <ion-item lines="none" float="left" class="left-radio">
                            <ion-label>Armazém</ion-label>
                            <ion-radio mode="md" slot="end" value="Armazém" checked></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="right-radio">
                            <ion-label>Loja</ion-label>
                            <ion-radio mode="md" slot="end" value="Loja"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                    <p></p>

                    <ion-label>Em que periodo?</ion-label>
                    <p></p>
                    <ion-radio-group name="time" class="inline-group" ngModel required>
                        <ion-item lines="none" float="left" class="left-radio">
                            <ion-label>Manhã</ion-label>
                            <ion-radio mode="md" slot="end" value="Manhã" checked></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="middle-radio">
                            <ion-label>Tarde</ion-label>
                            <ion-radio mode="md" slot="end" value="Tarde"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="right-radio">
                            <ion-label>Noite</ion-label>
                            <ion-radio mode="md" slot="end" value="Noite"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                    <p></p>
                </div>

                <br>
                <ion-label style="color: var(--ion-color-ba)">Nesta campanha em que dia participou?</ion-label>
                <p></p>
                <ion-radio-group name="day_time" ngModel required>
                    <p><ion-label>Sábado</ion-label></p>
                    <div style="display: inline-flex;">
                        <p></p>
                        <ion-item lines="none" float="left" class="left-radio">
                                <ion-label>Manhã</ion-label>
                                <ion-radio mode="md" slot="end" value="Sábado manhã"></ion-radio>
                            </ion-item>
                            <ion-item lines="none" float="right" class="middle-radio">
                                <ion-label>Tarde</ion-label>
                                <ion-radio mode="md" slot="end" value="Sábado tarde"></ion-radio>
                            </ion-item>
                            <ion-item lines="none" float="right" class="right-radio">
                                <ion-label>Noite</ion-label>
                                <ion-radio mode="md" slot="end" value="Sábado noite"></ion-radio>
                        </ion-item>
                    </div>
                    <p><ion-label>Domingo</ion-label></p>
                    <div style="display: inline-flex;">
                        <ion-item lines="none" float="left" class="left-radio">
                                <ion-label>Manhã</ion-label>
                                <ion-radio mode="md" slot="end" value="Domingo manhã"></ion-radio>
                            </ion-item>
                            <ion-item lines="none" float="right" class="middle-radio">
                                <ion-label>Tarde</ion-label>
                                <ion-radio mode="md" slot="end" value="Domingo tarde"></ion-radio>
                            </ion-item>
                            <ion-item lines="none" float="right" class="right-radio">
                                <ion-label>Noite</ion-label>
                                <ion-radio mode="md" slot="end" value="Domingo noite"></ion-radio>
                        </ion-item>
                    </div>
                </ion-radio-group>
                <p></p>

                <br>
                <ion-label style="color: var(--ion-color-ba)">Como avalia a Organização da Campanha?</ion-label>
                <p></p>
                
                <ion-radio-group name="organization" class="inline-group" ngModel required>
                    <ion-item lines="none" float="left" class="left-radio">
                            <ion-label>Boa</ion-label>
                            <ion-radio mode="md" slot="end" value="Boa"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="middle-radio">
                            <ion-label>Moderada</ion-label>
                            <ion-radio mode="md" slot="end" value="Satifatória"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="right-radio">
                            <ion-label>Má</ion-label>
                            <ion-radio mode="md" slot="end" value="Má"></ion-radio>
                    </ion-item>
                </ion-radio-group> 
                <p></p>

                <br>
                <ion-label style="color: var(--ion-color-ba)">Como avalia o funcionamento no Armazém?</ion-label>
                <p></p>
                <ion-radio-group name="behavior" class="inline-group" ngModel required>
                    <ion-item lines="none" float="left" class="left-radio">
                            <ion-label>Bom</ion-label>
                            <ion-radio mode="md" slot="end" value="Bom"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="middle-radio">
                            <ion-label>Moderado</ion-label>
                            <ion-radio mode="md" slot="end" value="Satisfatório"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="right-radio">
                            <ion-label>Mau</ion-label>
                            <ion-radio mode="md" slot="end" value="Mau"></ion-radio>
                        </ion-item>
                </ion-radio-group>
                <p></p>

                <br>
                <ion-label style="color: var(--ion-color-ba)">No fim do seu periodo de trabalho como Voluntário, <p></p> como avalia a sua ajuda?</ion-label>
                <p></p>
                <ion-radio-group name="help" class="inline-group" ngModel required>
                        <ion-item lines="none" float="left" class="left-radio">
                            <ion-label>Boa</ion-label>
                            <ion-radio mode="md" slot="end" value="Boa"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="middle-radio">
                            <ion-label>Moderada</ion-label>
                            <ion-radio mode="md" slot="end" value="Satisfatória"></ion-radio>
                        </ion-item>
                        <ion-item lines="none" float="right" class="right-radio">
                            <ion-label>Má</ion-label>
                            <ion-radio mode="md" slot="end" value="Má"></ion-radio>
                        </ion-item>
                </ion-radio-group>

            </div>

            <div padding>
                <p text-center *ngIf="form.valid">
                    <ion-label>
                        <b style="color: green">Obrigado pela sua colaboração!</b>
                    </ion-label>
                </p>
                <ion-button mode="ios" type="submit" [disabled]="form.invalid" expand="block">Submeter</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
  