<ion-header no-border class="header">
    <ion-toolbar mode="md" style="padding-left:10px; padding-right: 10px">
      <ion-img style="width: 25px; height: 25px; float: left;" src="/assets/icon/ba_icon.png"></ion-img>
      <ion-title style="float: left;">Convite</ion-title>    
      <ion-icon class="back-arrow" name="arrow-back" mode="ios" (click)="goBack()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="submit(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center>
            <div text-center>
                <h5 style="color:var(--ion-color-ba)">{{campaign_info.c_name}}</h5>
            </div>
            <p padding>
                <ion-label>
                    Este convite pretende fazer uma gestão da participação dos nossos voluntários na campanha 
                </ion-label>
                <ion-label style="color: var(--ion-color-ba)">
                    da sua área a {{campaign_info.c_date}}
                </ion-label>
            </p>
            <div text-center>
                <ion-label style="color: var(--ion-color-ba)">
                    Pretente participar nesta campanha?
                </ion-label>
                <p></p>
                <ion-radio-group name="participation" class="inline-group" ngModel required>
                    <ion-item lines="none" float="left" class="left-radio">
                        <ion-label>Sim</ion-label>
                        <ion-radio mode="md" slot="end" value="Sim" checked></ion-radio>
                    </ion-item>
                    <ion-item lines="none" float="right" class="right-radio">
                        <ion-label>Não</ion-label>
                        <ion-radio mode="md" slot="end" value="Nao"></ion-radio>
                    </ion-item>
                </ion-radio-group>
                <p></p>
                <div *ngIf="form.form.value.participation == 'Sim'">
                    <br>
                    <ion-label style="color: var(--ion-color-ba)">Qual a sua preferencia?</ion-label>
                    <p></p>
                    <ion-radio-group name="day_time" ngModel required>
                        <p><ion-label>Sábado</ion-label></p>
                        <div style="display: inline-flex;">
                            <p></p>
                            <ion-item lines="none" float="left" class="left-radio">
                                    <ion-label>Manhã</ion-label>
                                    <ion-radio mode="md" slot="end" value="Sabado_Manha"></ion-radio>
                                </ion-item>
                                <ion-item lines="none" float="right" class="middle-radio">
                                    <ion-label>Tarde</ion-label>
                                    <ion-radio mode="md" slot="end" value="Sabado_Tarde"></ion-radio>
                                </ion-item>
                                <ion-item lines="none" float="right" class="right-radio">
                                    <ion-label>Noite</ion-label>
                                    <ion-radio mode="md" slot="end" value="Sabado_Noite"></ion-radio>
                            </ion-item>
                        </div>
                        <p><ion-label>Domingo</ion-label></p>
                        <div style="display: inline-flex;">
                            <ion-item lines="none" float="left" class="left-radio">
                                    <ion-label>Manhã</ion-label>
                                    <ion-radio mode="md" slot="end" value="Domingo_Manha"></ion-radio>
                                </ion-item>
                                <ion-item lines="none" float="right" class="middle-radio">
                                    <ion-label>Tarde</ion-label>
                                    <ion-radio mode="md" slot="end" value="Domingo_Tarde"></ion-radio>
                                </ion-item>
                                <ion-item lines="none" float="right" class="right-radio">
                                    <ion-label>Noite</ion-label>
                                    <ion-radio mode="md" slot="end" value="Domingo_Noite"></ion-radio>
                            </ion-item>
                        </div>
                    </ion-radio-group>
                </div>
            </div>
            <div padding>
                <div text-center *ngIf="form.valid">
                    <ion-label>
                        <b style="color: green">Obrigado pela seu feedback!</b>
                        <p></p>
                        <b *ngIf="form.form.value.participation == 'sim'">Esperamos por si.</b>
                        <p></p>
                    </ion-label>
                    <br>
                    <ion-label style="padding-top: 5%">
                        <p></p>
                        Mais informação
                        <a style="margin-top: 5%" href="https://www.bancoalimentar.pt/quem-somos/pagina-noticias/noticias-federacao/"> aqui</a>
                    </ion-label>
                </div>
                <ion-button mode="ios" type="submit" [disabled]="form.invalid" expand="block">Responder</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>